{% extends 'pharmamasque/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <div class="container">
        <div class="col-12 mt-5">
            <h3 class="pb-2 border-bottom mb-4">Mes commandes</h3>
            {% for e in dataCommande %}
                <div class="card p-0 mt-2 mb-4">
                    <div class="card-header">
                        Commande du {{ e.0.dateCommande }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for commande in e %}
                            {% if not 'Total' in commande %}
                                <li class="list-group-item">
                                    <div class="row g-0">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-1 ">
                                            <div class="card-img m-3" alt="..."
                                                 style="height: 70px;
                                                         width: 70px;
                                                         {% if commande.nomRefProduit == 'tests antigéniques' %} background-image:url('{% static 'pharmamasque/antigentest.jpg' %}');{% endif %}
                                                         {% if commande.nomRefProduit == 'masque chirurgical ffp1' %} background-image:url('{% static 'pharmamasque/masqueadulte.png' %}');{% endif %}
                                                         {% if commande.nomRefProduit == 'auto tests' %} background-image:url('{% static 'pharmamasque/autotest.jpg' %}');{% endif %}
                                                         {% if commande.nomRefProduit == 'masque chirurgical enfants' %} background-image:url('{% static 'pharmamasque/masqueenfant.png' %}');{% endif %}
                                                         {% if commande.nomRefProduit == 'masque chirurgical ffp2' %} background-image:url('{% static 'pharmamasque/masqueffp2.jpg' %}');{% endif %}
                                                         display: flex;
                                                         justify-content: center;
                                                         align-items: center;
                                                         background-size: cover;">
                                            </div>
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-10 col-lg-3 p-3">
                                            <div class="card-body pt-0">
                                                <h5 class="card-title">{{ commande.nomRefProduit }}</h5>
                                                <p class="card-text m-0">
                                                    <b style="font-weight: 600">Référence : </b>
                                                    {{ commande.idRefProduit }}-{{ commande.idLotProduit }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="offset-2 offset-lg-0 col-10 col-sm-10 col-md-10 col-lg-4 p-3"
                                             style="padding-left: 32px !important;">
                                            <p class="card-text">
                                                <b style="font-weight: 600">Livré le : </b>
                                                {{ commande.dateLivraison }}
                                            </p>
                                            <p class="card-text">
                                                {% if commande.dateRetourLivraison == None %}
                                                    <b style="font-weight: 600">Mode : </b>
                                                    {{ commande.modeLivraison }}
                                                {% else %}
                                                    <b style="font-weight: 600">Retourné le : </b>
                                                    {{ commande.dateRetourLivraison }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="offset-2 offset-lg-0 col-10 col-sm-10 col-md-10 col-lg-4 p-3"
                                             style="padding-left: 32px !important;">
                                            <h5 class="card-text text-start text-lg-end">
                                                <b style="font-weight: 600">{{ commande.prixUnitaireLotProduit }}€</b>
                                            </h5>
                                            <p class="text-muted text-start text-lg-end">Quantité
                                                : {{ commande.qteLotProduit }}x{{commande.qteProduit}}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% with Total=e|last %}
                        {% if 'Total' in Total %}
                            <div class="card-footer text-start text-lg-end">
                                <div class="offset-2 offset-lg-0 col-10 col-sm-10 col-md-10 col-lg-12 p-3">
                                    <div class="m-3">
                                        Total <h5>{{ Total.Total }}€</h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

            {% endfor %}
            <div class="card text-start">
                <div class="row">
                <div class="offset-2 offset-lg-0 col-10 col-sm-10 col-md-10 col-lg-6 p-3">
                    <div class="m-3">
                        Nombre de produits commandés<h5>{{ nbCommandesTotal }}</h5>
                    </div>
                </div>
                <div class="offset-2 offset-lg-0 col-10 col-sm-10 col-md-6 col-lg-6 text-lg-end p-3">
                    <div class="m-3">
                        Total de toutes les commandes<h5>{{ montantTotal }}€</h5>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script> const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }</script>
{% endblock %}