{% extends 'pharmamasque/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-bg-success">
                Fonctionnalité non autorisée sur ce compte.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-5">
            <h3 class="pb-2 border-bottom mb-4" style="display: flex; justify-content: space-between;">
                Ma compagnie
                <button type="button" class="btn btn-outline-success" id="liveToastBtn">Modifier</button>
            </h3>
            <div class="card p-0" style="min-height: 386px">
                <div class="row g-0">
                    <div class="col-3">
                        <div class="card-img m-3" alt="..."
                             style="height: 96px;
                        width: 98px;
                  background-color: #e7eaed;
                  display: flex;
                  justify-content: center;
                  align-items: center">
                            <h3>{{ dataCompagnie.0.nomCompagnie.0 }}</h3>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title mb-4">{{ dataCompagnie.0.nomCompagnie }}</h5>
                            <p class="text-muted m-0">Téléphone</p>
                            <p class="card-text mb-2 ">{{ dataCompagnie.0.telCompagnie }}</p>
                            <p class="text-muted m-0">Adresse</p>
                            <p class="card-text mb-0 ">{{ dataCompagnie.0.rueAdresseComplet }}</p>
                            <p class="card-text mb-0 ">{{ dataCompagnie.0.villeAdresseComplet }}, {{ dataCompagnie.0.paysAdresse }}</p>
                            <p class="card-text mb-2 ">{{ dataCompagnie.0.telAdresse }}</p>
                            <p class="text-muted m-0">Numéro SIRET</p>
                            <p class="card-text mb-2 ">{{ dataCompagnie.0.numSiretCompagnie }}</p>
                            <p class="text-muted m-0">Numéro TVA</p>
                            <p class="card-text mb-1 ">{{ dataCompagnie.0.numTVACompagnie }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-5">
            <h3 class="pb-2 border-bottom mb-4" style="display: flex; justify-content: space-between;">
                Dernière commande
                <a type="button" class="btn btn-outline-success" href="/ma-compagnie/{{ idCompagnie }}/dernières-commandes/">Voir plus</a>
            </h3>
            <div class="card p-0">
            {% for e in dataCommande %}
                <div class="row g-0">
                    <div class="col-3">
                        <div class="card-img m-3" alt="..."
                             style="height: 96px;
                                     width: 98px;
                                     {% if e.nomRefProduit == 'tests antigéniques' %} background-image:url('{% static 'pharmamasque/antigentest.jpg' %}');{% endif %}
                                     {% if e.nomRefProduit == 'masque chirurgical ffp1' %} background-image:url('{% static 'pharmamasque/masqueadulte.png' %}');{% endif %}
                                     {% if e.nomRefProduit == 'auto tests' %} background-image:url('{% static 'pharmamasque/autotest.jpg' %}');{% endif %}
                                     {% if e.nomRefProduit == 'masque chirurgical enfants' %} background-image:url('{% static 'pharmamasque/masqueenfant.png' %}');{% endif %}
                                     {% if e.nomRefProduit == 'masque chirurgical ffp2' %} background-image:url('{% static 'pharmamasque/masqueffp2.jpg' %}');{% endif %}
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     background-size: cover;">

                        </div>
                    </div>
                    <div class="col-9">

                        <div class="card-body">
                            <h5 class="card-title">{{ e.nomRefProduit }}</h5>
                            <p class="card-text m-0"><b style="font-weight: 600">Commandé
                                le </b>{{ e.dateCommande }}.</p>
                            <p class="card-text m-0"><b style="font-weight: 600">Livré
                                le </b>{{ e.DateLivraison }}.</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script>
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }</script>
{% endblock %}